
.metals/.reports/metals-full/2024-10-08/r_compiler-error_08-55-37-995.md
.metals/metals.lock.db
.metals/metals.log
.metals/metals.mv.db
.metals/.reports/metals-full/2024-10-08/r_compiler-error_09-06-20-066.md
.metals/.reports/metals-full/2024-10-08/r_compiler-error_09-06-24-524.md
.metals/metals.trace.db
